<!-- This is initial landing + login page -->
{% extends 'base.html' %}

{% block headcontent %}

{% load static %}
<link rel="stylesheet" href="{% static '../static/index.css' %}">

<title>E-voting portal</title>
{% endblock %}

{% block bodycontent %}
<div class="body-background">
  <h1 class="heading">VOTE INDIA</h1>
  <h2 class="heading2">A digital voting platform</h2>

  <!-- Section: Design Block -->
  <section class="text-center text-lg-start">
    <!-- Jumbotron -->
    <div class="container py-2">
      <div class="row align-items-center shadow-lg p-3 mb-5 bg-white rounded">

        <!-- Logo starts -->
        <div class="col-lg-6 mb-2 mb-lg-0">
          <img src="{% static 'media/logo.jpeg' %}" class="w-100" alt="logo" />
        </div>
        <!-- Logo ends -->

        <!-- Form starts -->
        <div class="col-lg-6 mb-2 mb-lg-0">
          <div class="rounded-left cascading-left" style="
              background: rgb(244, 168, 45);
              backdrop-filter: blur(80px);
              ">
            <div class="card-body p-5 shadow-5 text-center">
              <h2 class="fw-bold mb-5" style="color:rgb(240, 237, 237)">Login to continue</h2>
              <form action="" method="POST">
                {% csrf_token %}

                {% if error %}
                <div class="alert alert-danger" role="alert">
                  <b>{{error}}</b>
                </div>
                {% endif %}

                <!-- Username input -->
                <div class="form-outline mb-4">
                  <input type="text" id="username" name="username" class="form-control" placeholder="Registered username" />
                  <label class="form-label" for="username"><b>Username</b></label>
                </div>

                <!-- Pin input -->
                <div class="form-outline mb-4">
                  <input type="password" id="password" name="pin" class="form-control" placeholder="****" />
                  <label class="form-label" for="password"><b>4-digit pin</b></label>
                </div>

                <!-- Confirm pin input -->
                <div class="form-outline mb-4">
                  <input type="password" id="confirm_password" name="confirm_pin" class="form-control" placeholder="****" />
                  <label class="form-label" for="confirm_password"><b>Confirm pin</b></label>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">
                  <b>Login</b>
                </button>

                <!-- Forgot password -->
                <div class="text-right">
                  <p>Forgot password?</p>
                </div>
              </form>
              <!-- Register buttons -->
              <div class="text-center">
                <p><b>Don't have an account? Click <a href="signup">here</a> to register</b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Form ends -->
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
</div>

{% endblock %}