<!-- This is initial landing page -->
{% extends 'base.html' %}

{% block headcontent %}

{% load static %}
<link rel="stylesheet" href="{% static '../static/index.css' %}">

<title>E-voting portal</title>
{% endblock %}

{% block bodycontent %}
<div class="body-background">
  <h1 class="heading">VOTE INDIA</h1>
  <h2 class="heading2">A digital voting platform</h2>

  <!-- Section: Design Block -->
  <section class="text-center text-lg-start">
    <!-- Jumbotron -->
    <div class="container py-2">
      <div class="row align-items-center shadow-lg p-3 mb-5 bg-white rounded">

        <!-- Logo starts -->
        <div class="col-lg-6 mb-2 mb-lg-0">
          <img src="{% static 'media/logo.jpeg' %}" class="w-100" alt="logo" />
        </div>
        <!-- Logo ends -->

        <!-- Form starts -->
        <div class="col-lg-6 mb-2 mb-lg-0">
          <div class="rounded-left cascading-left" style="
              background: rgb(244, 168, 45);
              backdrop-filter: blur(80px);
              ">
            <div class="card-body p-5 shadow-5 text-center">
              <h2 class="fw-bold mb-5" style="color:rgb(240, 237, 237)">Signup to create a voting account</h2>
              <form action="" method="POST">
                {% csrf_token %}

                {% if error %}
                <div class="alert alert-danger" role="alert">
                  <b>{{error}}</b>
                </div>
                {% endif %}

                <!-- Aadhaar number input -->
                <div class="form-outline mb-4">
                  <input type="text" id="aadhaar" name="aadhaar" class="form-control" placeholder="Aadhaar number" value="{{val.aadhaar}}" />
                  <label class="form-label" for="aadhaar"><b>Enter your 12-digit Aadhaar number</b></label>
                  <p>Note: Your Aadhaar card will be linked to this portal</p>
                </div>

                <!-- Username input -->
                <div class="form-outline mb-4">
                  <input type="text" id="username" name="username" class="form-control"
                    placeholder="Enter a unique username" maxlength="50" value="{{val.username}}" />
                  <label class="form-label" for="username"><b>Enter your username</b></label>
                </div>

                <!-- Mobile input -->
                <div class="form-outline mb-4">
                  <input type="text" id="mobile-number" name="mobile" class="form-control"
                    placeholder="Mobile number" value="{{val.mobile}}" />
                  <label class="form-label" for="mobile-number"><b>Enter your 10-digit mobile number</b></label>
                </div>

                <!-- Pin input -->
                <div class="form-outline mb-4">
                  <input type="password" id="pin" name="pin" class="form-control" placeholder="****" />
                  <label class="form-label" for="pin"><b>Set a 4-digit pin</b></label>
                  <p>Note: Your pin can be alpha-numeric.</p>
                </div>

                <!-- Confirm pin input -->
                <div class="form-outline mb-4">
                  <input type="password" id="confirm_pin" name="confirm_pin" class="form-control" placeholder="****" />
                  <label class="form-label" for="confirm_pin"><b>Confirm pin</b></label>
                </div>
                
                <!-- Submit button -->
                <button name="button" value="submit" type="submit" class="btn btn-success btn-block mb-4">
                  <b>REGISTER</b>
                </button>
              </form>
              <!--
              <div class="text-center">
                <p><b>Click <a href="verify">here</a> to verify mobile number</b></p>
              </div>
              -->
            </div>
          </div>
        </div>
      </div>
      <!-- Form ends -->
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
</div>

{% endblock %}